@font-face {
  font-family: 'Lato';
  src: url('fonts/Lato/Lato-Light.ttf') format('truetype'),
       url('fonts/Lato/Lato-Regular.ttf') format('truetype'),
       url('fonts/Lato/Lato-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
:root {
  --white: #fff;
  --black: #000;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;

  div.buttons {

    button {
      font-family: 'Lato', sans-serif;
    }
  }
}