@font-face {
  font-family: "Lato";
  src: url("fonts/Lato/Lato-Light.ttf") format("truetype"), url("fonts/Lato/Lato-Regular.ttf") format("truetype"), url("fonts/Lato/Lato-Bold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
:root {
  --white: #fff;
  --black: #000;
  --gray: #ccc;
  --light-green: #66da66;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--light-green);
}
body section.converter {
  width: -moz-fit-content;
  width: fit-content;
  height: -moz-fit-content;
  height: fit-content;
  display: flex;
  flex-direction: column;
  padding: 2rem;
  background-color: var(--white);
  border-radius: 0.5rem;
}
body section.converter h1 {
  font: 700 1.5rem "Lato", sans-serif;
  margin-bottom: 1rem;
  text-align: center;
}
body section.converter div.textareas {
  display: flex;
  margin-bottom: 1.2rem;
}
body section.converter div.textareas div.textarea {
  width: 100%;
  height: 11rem;
  border: 1px solid var(--gray);
  border-radius: 0.5rem;
  position: relative;
}
body section.converter div.textareas div.textarea textarea {
  font: 400 0.9rem "Lato", sans-serif;
  width: 100%;
  height: 100%;
  padding: 1rem;
  border: none;
  border-radius: 0.5rem;
  resize: none;
}
body section.converter div.textareas div.textarea textarea:focus {
  outline: none;
  border: none;
}
body section.converter div.textareas div.textarea button#copy {
  display: none;
  position: absolute;
  bottom: 0.5rem;
  right: 0.5rem;
  font: 400 0.7rem "Lato", sans-serif;
  padding: 0.3rem 0.6rem;
  border: 1px solid var(--light-green);
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--light-green);
  cursor: pointer;
}
body section.converter div.textareas div.textarea:first-child {
  margin-right: 1rem;
}
body section.converter div.textareas div.textarea:hover {
  border: 1px solid var(--black);
}
body section.converter div.textareas div.textarea:focus-within {
  border: 1px solid var(--black);
}
body section.converter div.buttons {
  display: flex;
  justify-content: center;
}
body section.converter div.buttons button {
  font: 400 1rem "Lato", sans-serif;
  padding: 0.5rem 1rem;
  border: 1px solid var(--light-green);
  border-radius: 0.5rem;
  text-transform: uppercase;
  color: var(--white);
  background-color: var(--light-green);
  cursor: pointer;
}
body section.converter div.buttons button:not(:last-child) {
  margin-right: 1rem;
}

@media (max-width: 768px) {
  body {
    background-color: var(--white);
  }
  body section.converter {
    width: 100%;
    height: 100%;
    padding: 1rem;
  }
  body section.converter h1 {
    font-size: 1.2rem;
  }
  body section.converter div.textareas {
    flex-direction: column;
  }
  body section.converter div.textareas div.textarea {
    width: 100%;
    height: 10rem;
    margin-bottom: 1rem;
  }
  body section.converter div.textareas div.textarea:first-child {
    margin-right: 0;
  }
  body section.converter div.buttons {
    flex-direction: column;
  }
  body section.converter div.buttons button {
    width: 100%;
    margin-bottom: 1rem;
  }
  body section.converter div.buttons button:not(:last-child) {
    margin-right: 0;
  }
}/*# sourceMappingURL=style.css.map */